body {
    font-family: sans-serif;
}
.link-header{
border:4px solid rgb(0, 0, 0) ;
padding: 3px;
}

header{
background-color: rgb(232, 166, 35) ;
padding: 20px;
}
h1{
color: chocolate;
}
footer{
margin-top: 85px;
background-color: chartreuse;
}


